html {
    height: 100%;
}

body {
    font-family: "Courier New", Courier, monospace;
    color: #FAF9F7;
    background-color: #27241D;	
    margin: auto;
    max-width: 50em;
    height: 97%;
    line-height: 1.5
}

code {
    font-family: "Courier New", Courier, monospace;
}

#page-title {
    text-align: center;
}

a {
   text-decoration: none;
   color: #FAF9F7;
   border-bottom: 2px solid #FFB300;
}

a:hover, a:active, a:visited {
    background-color: #FFB300;
}

.date-time-title {
    display: inline-block;
}

#posts {
    padding-left: 2em;
    padding-right: 2em;
}

.post {
    padding-left: 1em;
    padding-right: 1em;
}

blockquote {
    font-style: italic;
}

.blog-post {
    padding-left: 1em;
    padding-right: 1em;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding-bottom: 2em;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 1em;
    height: 1em;
    text-align: center;
}


