{{ partial "header.html" . }}

{{ if not .Params.nodate }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
  "url": "{{ .Permalink }}",
  "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ .Site.Params.description | jsonify }}{{ end }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }}
  }
}
</script>
{{ end }}

<section class="blog-post">
    <h1>{{ .Title }}</h1>
    <div class="blog-post-subheader">
	{{ if (not .Params.nodate) }}
        {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}
	{{ end }}    
    </div>
    <div class="blog-post-content">
        {{ .Content }}
    </div>
</section>

{{ partial "footer.html" . }}
