      </main>
    </div>
      <footer class="footer">
        <nav>
          {{- $links := slice }}
          {{- with .Site.Params.about }}{{ $links = $links | append (printf "<a href=\"%s\">about</a>" .) }}{{ end }}
          {{- with .Site.Params.contact }}{{ $links = $links | append (printf "<a href=\"%s\">contact</a>" .) }}{{ end }}
          {{- with .Site.Params.cv }}{{ $links = $links | append (printf "<a href=\"%s\">cv</a>" .) }}{{ end }}
          {{- with .Site.Params.now }}{{ $links = $links | append (printf "<a href=\"%s\">now</a>" .) }}{{ end }}
          {{- delimit $links " | " | safeHTML }}
        </nav>
      </footer>
    </div>
  </body>
</html>
