<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; base-uri 'none'; form-action 'none'; script-src 'self' https://static.cloudflareinsights.com; style-src 'self' 'unsafe-inline'; font-src 'self'; img-src 'self'; connect-src https://cloudflareinsights.com">
    <meta name="referrer" content="no-referrer">
    {{ $desc := .Description | default .Site.Params.description }}
    <meta name="description" content="{{ $desc }}">

    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ $desc }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

    <link rel="preconnect" href="https://static.cloudflareinsights.com">
    <link rel="alternate" charset="utf-8" type="application/rss+xml" href="/rss" title="{{ .Site.Title }}">

    <link rel="canonical" href="{{ .Permalink }}">
    {{ $css := resources.Get "css/stylesheet.css" | minify }}
    <style>{{ $css.Content | safeCSS }}</style>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content</a>
    <div id="container">
    <div id="body">
      <header id="page-title">
        <h1><a href="/">{{ .Site.Params.sitename | default "chicken"}}</a></h1>
      </header>
      <main id="content">
