{{ partial "header.html" . }}

<section>
  <ul class=posts_listing>
    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
      {{ if (not .Params.nodate) }}
        <li class="posts">
          <div class="date date-time-title">
            <time>{{ .Date.Format (.Site.Params.dateform | default "2006-01-02") }}</time>
          </div>
          <div class="date-time-title post">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </div>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
